################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/MySchool2018/v16/Server/sqlite3/db.lock
/.vs/config/applicationhost.config
# ignore a file type
*.ide
*.cache
*.ide-shm
*.ide-wal
